* {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

.search-bar {
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
  background: #6066E0;
  /*background: url(images/bg_search.jpg);*/
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

body {
  background-color: #E6ECF0;
}

main {
  /*margin-top: -100px;*/
  width: auto;
  height: auto;
}

::selection {
  background: #16a085;
  color: #fff;
}


.line-1 {
  width: 5px;
  height: 40px;
  background: #fff;
  margin: auto;
  position: relative;
  left: 45px;
  top: -20px;
  transform: rotate(-45deg);
  transition: .5s;
  transition-timing-function: cubic-bezier(1, 0, .3, 1);
  cursor: pointer;
  display: block;
}

.line-2 {
  width: 5px;
  height: 0px;
  background: #fff;
  margin: auto;
  transform: rotate(-45deg);
  position: relative;
  left: 0;
  top: -40px;
  opacity: 0;
  transition: .5s ease-in-out;
  transition-timing-function: cubic-bezier(0.5, 0, .3, 1);
  cursor: pointer;
  display: block;
}

.search {
  font-weight: 900;
  color: #fff;
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  border-radius: 100px;
  cursor: default;
  transition: .5s;
  transition-timing-function: cubic-bezier(1, -0.5, 0, 1.5);
  text-align: left;
  box-sizing: border-box;
  padding-left: 15px;
  outline: none;
  font-size: 32px;
  background: transparent;
}


.active {
  width: 500px;
  height: 100px;
  border: 5px solid #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* Content CSS*/
.search_container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  font-size: 18px;
}


.title {
  padding: 0;
  margin: 0px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.tuts-container {
  padding: 0;
  width: 99%;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.tuts-list {
  background: #fff;
  padding: 2px;
  width: 300px;
  height: 150px;
  margin-top: 10px;
  margin-left: 15px;
  line-height: 150px;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;

  box-shadow: 0px 2px 2px grey;

}

.title-bar {
  margin-top: 1.2em;
}

.tut-text {
  font-weight: 700;

}


/************ MENU STARTS ***************/

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.outer-menu {
  position: fixed;
  top: 0;
  right: 60px;
  z-index: 1;
}

.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.outer-menu .checkbox-toggle:checked+.hamburger>div {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:before,
.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
  opacity: 0;
}

.outer-menu .checkbox-toggle:checked~.menu {
  pointer-events: auto;
  visibility: visible;
}

.outer-menu .checkbox-toggle:checked~.menu>div {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-duration: 0.75s;
}

.outer-menu .checkbox-toggle:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

/*.outer-menu .checkbox-toggle:hover+.hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
*/

.outer-menu .checkbox-toggle:checked:hover+.hamburger>div {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5em 1em;
  /*  background: rgba(33, 150, 243, 0.75);
*/
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #FEFEFE;
  transition: all 0.4s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .hamburger>div:before,
.outer-menu .hamburger>div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}

.outer-menu .hamburger>div:after {
  top: 10px;
}

.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .menu>div {
  width: 200vw;
  height: 200vw;
  color: #FEFEFE;
  background: rgba(108, 92, 231, 0.95);
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .menu>div>div>ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}

.outer-menu .menu>div>div>ul>li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}

.outer-menu .menu>div>div>ul>li>a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}

.outer-menu .menu>div>div>ul>li>a:hover {
  color: #e5e5e5;
}

.outer-menu .menu>div>div>ul>li>a:hover:after {
  width: 100%;
}

.outer-menu .menu>div>div>ul>li>a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}

/***********  MENU ENDS *********************/


/*LIGHT & DARKMODE SWITCH*/

body.dark-mode {
  background-color: #1E2227;
  color: #fff;

  a {
    color: #222831;
    ;
  }

  button {
    background-color: #fff;
    color: #222831;
  }
}

body.light-mode {
  background-color: #eeeeee;
  color: #222831;

  a {
    color: #222831;
  }

  button {
    background-color: #222831;
    color: #fff;
  }
}


/**************** MAIN ********************/
.main {
  height: 100%;
  width: 100%;
  margin-top: 15px;
  margin-right: 0px;
  padding: 0;
  line-height: 2em;
}

.content-main p {
  margin: 25px;
}

/*.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;

}
*/

/****************FOOTER********************/

.footer {
  height: 270px;
  margin: 0;
  padding: 0;
  bottom: 10px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background: #6066E0;
  margin-bottom: 0px;
  z-index: 5;
   /* position: relative; */

}

.footer-content{
  position: absolute;
  height: 220px;
  margin-top: 50px;
  width: 100%;
  border: 2px solid black;
  margin-left: 20%;
  color: #fff;

}
